/* TODO: system layer keeps messing my stuff up, how do i override it?*/
.domain-card {
    border-radius: 20px;
    background-color: rgb(134, 134, 134);
    border: none;
    padding: 10px;
    margin: 10px;

    .dashed-line {
        border-bottom: dashed #1a1a1a 4px;
    }
    
    .domain-description {
        margin-top: 10px;
        background-color: #0000008a;
        color: white;
        font-size: 18px;
        text-align: center;
        padding: 10px 5px;
    }

    .domain-name-input {
        background: rgb(0 0 0 / 31%);
        border-radius: 20px;
        color: white;
        height: 90%;
        font-size: 55px;
        font-family: 'Pirata One', system-ui;
        text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
    }

    &.paper-texture2 {
        background-image: url("/systems/cain/assets/backgrounds/paper2.jpg");
        background-position: 50% 50%;
        background-blend-mode: darken;

        &.hound {
            background-color: #ff0808;
        }

        &.centipede {
            background-color: #9f00ff;
        }

        &.idol {
            background-color: #e40df2;
        }

        &.ogre {
            background-color: #0d79f2;
        }

        &.toad {
            background-color: #f2af0d;
        }

        &.lord {
            background-color: #91ffef;
        }
    }

    .domain-header {
        text-align: center;

        h1 {
            font-family: 'Pirata One', system-ui;
            color: white;
            text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
        }
    }

    .domain-option {
        margin-top: 10px;
    }

    input[type="checkbox"] {
        vertical-align: middle;
    }

    .affliction-drop-target {
        height: 100px;
        background-color: red;
    }
}
