// Flex grid utils
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;

  &.w-25 {
    max-width: 25%;
  }

  &.w-33 {
    max-width: 33%;
  }

  &.w-50 {
    max-width: 50%;
  }

  &.w-66 {
    max-width: 66%;
  }

  &.w-75 {
    max-width: 75%;
  }
}