<div class="tab domains paper-texture" data-group="primary" data-tab="domains">
    <div class="form-group dark-form-group">
        <i class="fas fa-comment-alt ability-icon" data-ability="1" onclick="sendAbilityToChat(1)"></i>
    </div>
    <div class="form-group dark-form-group">
        <i class="fas fa-comment-alt ability-icon" data-ability="2" onclick="sendAbilityToChat(2)"></i>
    </div>
    <div class="form-group dark-form-group">
        <i class="fas fa-comment-alt ability-icon" data-ability="3" onclick="sendAbilityToChat(3)"></i>
    </div>
</div>

<script>
    function sendAbilityToChat(abilityNumber) {
        const abilityElement = document.querySelector(`[data-ability="${abilityNumber}"]`);
        const abilityValue = abilityElement.tagName === 'TEXTAREA' ? abilityElement.value : abilityElement.textContent;
        const message = `Domain Description: ${abilityValue}`;
        ChatMessage.create({content: message});
    }
</script>

<style>
    .tab.domains {
        border-radius: 5px 5px 0 0;
        background-color: wheat;
        color: black;
        padding: 20px;
        font-family: 'Courier New', monospace;
    }

    .paper-texture {
        background-image: url("systems/cain/assets/backgrounds/paper1.jpg");
        background-position: 50% 50%;
        background-blend-mode: hard-light;
    }

    .tab.domains .form-group {
        margin-bottom: 20px;
        text-align: center;
        border: 1px solid #444;
        color: black;
        padding: 15px;
        border-radius: 8px;
        background-color: white;
    }

    .tab.domains .dark-form-group label {
        color: #f5f5f5;
        font-weight: bold;
        display: block;
        margin-bottom: 10px;
        font-size: 1.1em;
    }

    .tab.domains .ability-select, .tab.domains .ability-textarea {
        width: 80%;
        border: 1px solid #444;
        border-radius: 4px;
        background-color: white;
        color: black;
    }

    .tab.domains .ability-textarea {
        height: 100px; /* Fixed vertical height */
    }

    .tab.domains .ability-select {
        appearance: none; /* Remove default arrow */
        -webkit-appearance: none; /* Remove default arrow for Safari */
        background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="#f5f5f5" d="M2 0L0 2h4z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 10px center;
        background-size: 10px;
        text-align: center;
    }

    .tab.domains .ability-select option {
        background-color: white;
        color: black;
    }

    .tab.domains .ability-value {
        margin-top: 10px;
        font-size: 1em;
        color: black;
    }

    .tab.domains .ability-icon {
        margin-left: 10px;
        cursor: pointer;
        color: black;
    }

    .tab.domains .ability-icon:hover {
        color: #aaa;
    }

    form .tab.domains .form-group {
        display: block;
        margin-bottom: 20px;
    }
</style>