<div class="tab palace-pressure" data-group="primary" data-tab="palace-pressure">
  <div class="form-group dark-form-group">
    <label for="system.palace">Palace</label>
    <input type="text" name="system.palace" value="{{system.palace}}"/>
  </div>
  <div class="form-group dark-form-group">
    <label for="system.pressure">Pressure</label>
    <textarea name="system.pressure">{{system.pressure}}</textarea>
  </div>
</div>