<form class='{{cssClass}}, affliction-background' autocomplete='off'>
    <div class='header-fields'>
      <h1 class='charname affliction-name affliction-text-color' style="padding:10px">{{item.system.afflictionName}}</h1>
    </div>

  {{! Sheet Tab Navigation }}
  {{! Sheet Body }}
  <section class='sheet-body affliction-body'>
    <p>
    {{this.item.system.afflictionDescription}}
    </p>
  </section>
</form>