<form class='{{cssClass}}, agenda-background' autocomplete='off'>
    <div class='header-fields'>
      <h1 class='charname agenda-ability-name agenda-text-color' style="padding:10px">{{item.system.abilityName}}</h1>
    </div>

  {{! Sheet Tab Navigation }}
  {{! Sheet Body }}
  <section class='sheet-body agenda-body'>
    <p style="color: white;">
    {{this.item.system.abilityDescription}}
    </p>
  </section>
</form>